# =========================
# Python / Django
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
media/
.env
.env.*

# =========================
# Flutter
# =========================
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
ios/Pods/
android/.gradle/
android/app/build/

# =========================
# System files
# =========================
.DS_Store
Thumbs.db

# Logs
*.log
hs_err_pid*
replay_pid*